<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Guess the Instrument Quiz</title>


    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link href="../static/hi.css" rel="stylesheet">

  </head>

  <body>

    <div class="container">
      <div class="header">
             <h3 class="text-muted"> Guess the Instrument Quiz </h3>
     </div>

      <div class="jumbotron">
          <p>
         1. Always <b>read</b> the question first:
          </p>
          <p> Is it a <b>{{ instrument }}</b>?
          </p>
          <p>
              2. Then <b>listen</b> to the sound (only once!):
          </p>
              <p>
         <audio controls>
             <source src="{{ soundsRoot }}/{{ wavFile }}" type="audio/wav">
             Your browser does not support the audio element.
           </audio>
          </p>
          <p>
              3. <b>Answer</b> the question:
          </p>

        <form class="form-signin" action="/next" method="post">
        <input type="hidden" name="id" value="{{id}}" />
        <input type="hidden" name="entryId" value="{{entryId}}" />
        <button type="submit" name="submit" value="yes" class="btn btn-primary" data-placement="left">Yes</button>
        <button type="submit" name="submit" value="no" class="btn btn-primary" data-placement="right">No&nbsp;</button>
      </form>
      </div>
   </div>
  </body>
</html>