<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Guess the Instrument Quiz. Thanks.</title>

    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">

  </head>

  <body>

    <div class="container">
      <div class="header">
             <h3 class="text-muted"> Guess the Instrument Quiz. Thanks. </h3>
     </div>

     <div class="jumbotron">
          <h1> Thank you!</h1>
     </div>
   </div>
  </body>
</html>